/*D:\Users\steli\Desktop\Transportadoras\transporte-moz\src\globals.css*/
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
  background-color: #f9fafb;
}
